<ion-header>
  <ion-toolbar>
    <ion-title>SumBuilder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div><label>Weight Left: </label><input [(ngModel)]="sumBuilder.weightLeft" placeholder="weightLeft" (ngModelChange)="calcFeedStock()"> KG</div>
  <div><label>Weight Right: </label><input [(ngModel)]="sumBuilder.weightRight" placeholder="weightRight" (ngModelChange)="calcFeedStock()"> KG</div>
  <hr/>
  <!-- <button (click)="showPartCount()">Komponenten</button> -->
  <app-partcounts [sumBuilder]="sumBuilder"></app-partcounts>
  <hr/>
  <div><span>Weight Feed Stock: {{sumBuilder.weightFeedStock | number:'1.2-2'}} KG</span></div>

</ion-content>
